body {
    font-family: system-ui;
    background-color: rgb(227, 233, 233);
    color: rgb(0, 162, 255);
  }

aside{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#startpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

#startpage p{
    font-size: 15px;
    color: rgb(238 78 78);
}

#highscorepage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    display: flex;
    justify-content: center;
    color: black;
}

section ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

section li {
    list-style-type: none; 
    background-color: rgb(227, 233, 233);
    color: rgb(13, 22, 124);
    margin: 8px;
    padding: 3px;
    margin-left: 20%;
    font-weight: bold;
}

section ul:hover {
    color:rgb(78, 238, 86);
    box-shadow: 0 5px 15px rgb(37, 157, 187);
    transition: flex-basis 500ms linear;
}

#submit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 24%;
}

textarea {
    display: flex;
    margin: 3px
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
}